
.DS_Store
Exam Problems/Finals/data.txt
Assignments/Q4.pkl
Assignments/Q3.csv
Assignments/Q2.csv
Assignments/Assignment_8_1.txt
*.pptx
*.pptx
*.pptx
*.HEIC
*.pptx
PPT Slides/Week_14_Lecture_1 (solving example problems).pptx
